<body  class="nav-md">
<div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;" >
         <a href="index.html" class="site_title"><img src="../../assets/images/logoGtopia.png"><span>Health Care System</span></a>
          </div>
          <div class="clearfix"></div>
         <br/>
  
          <!-- menu profile quick info -->
          <div class="profile row">
            <div class="profile_pic col-sm-4 col-xs-4 col-lg-4 col-md-4 ">
              <!-- <img src="{{user.avatar}}" alt="..." class="img-circle profile_img"> -->
            </div>
            <div class="profile_info col-sm-8 col-xs-8 col-lg-8 col-md-8">
              <span>Welcome,</span>
              <!-- <h2>{{user.fullName}}</h2> -->
            </div>
          </div>
          <!-- /menu profile quick info -->
  
          <br />
  
          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>Menu</h3>
              <ul class="nav side-menu">
                
                <li><a><i class="fa fa-child"></i> Bé <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a routerLink="/main/role/index" routerLinkActive="active">Nhật Ký</a></li>
                    <li><a routerLink="/main/role/index" routerLinkActive="active">Học Tập</a></li>
                    <li><a routerLink="/main/function/index" routerLinkActive="active">Sức Khoẻ</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-american-sign-language-interpreting"></i> Lớp <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a routerLink="/main/role/index" routerLinkActive="active">Thông Báo</a></li>
                    <li><a routerLink="/main/role/index" routerLinkActive="active">Ngoại Khoá</a></li>
                  </ul>
                </li>
                <li><a routerLink="/main/ecg-history/index" ><i class="fa fa-image"></i>Hình Ảnh Lớp</a></li>
                <li><a routerLink="/main/ecg/index" ><i class="fa fa-comments"></i>Tin Nhắn</a></li>
                <li><a routerLink="/main/profile/index" ><i class="fa fa-user-circle"></i>Thông tin cá nhân</a></li>
                <li><a routerLink="/main/contact/index"><i class="fa fa-list-alt"></i>Danh sách liên hệ</a></li>
              </ul>
            </div>
            </div>
  
          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" (click)="logout()">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>
  
      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
  
            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <!-- <img src="{{user.avatar}}" alt="">{{user.fullName}} -->
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li><a href="javascript:;"> Profile</a></li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li><a href="javascript:;">Help</a></li>
                  <li><a href="#" (click)="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                </ul>
              </li>
  
              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                  <li>
                    <a>
                      <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                      <span>
                            <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                      <span>
                            <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                      <span>
                            <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                      <span>
                            <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                    </a>
                  </li>
                  <li>
                    <div class="text-center">
                      <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->
  
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- /page content -->
  
      <!-- footer content -->
      <footer>
        <div class="pull-right">
          
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>
</body> 