<form [formGroup]="notificationForm">

  <!-- This Line For Debugs: -->
  <!-- Value: {{ notificationForm.value | json }} -->

  <hr>

  <mat-form-field>
      <input matInput placeholder="Tiêu đề" formControlName="title">
  </mat-form-field>

  <mat-form-field>
      <textarea matInput placeholder="Miêu tả" formControlName="description"></textarea>
  </mat-form-field>

  <input class="ng-hide" id="input-file-id" multiple type="file" />
  <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>

</form>