<div class="input-field">
<form [formGroup]="notificationForm">
                <!-- This Line For Debugs: -->
                <!-- Value: {{ notificationForm.value | json }} -->
                
            <!-- <hr> -->
            <mat-form-field >
                <input matInput placeholder="Tiêu đề" formControlName="title">
            </mat-form-field>
            
            <mat-form-field >
                <textarea matInput placeholder="Miêu tả" formControlName="description"></textarea>
            </mat-form-field>
            
            <mat-form-field >
                <input matInput placeholder="Youtube Link" formControlName="youtubeUrl">
            </mat-form-field>
</form>
</div>
     
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Chọn File Pdf.</h3>
            <input type="file" ng2FileSelect [uploader]="uploader" />

            <h3>Chọn Hình.</h3>
            <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>
    
        <div class="col-md-9" style="margin-bottom: 40px">
            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>
    
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <!-- <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th> -->
                    <!-- <th width="50%">Actions</th> -->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <!-- <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button> 
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button> -->
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
    
            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>-->
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button> 
            </div>
    
        </div>
    
    </div>
</div>   


<button type="button" class="btn btn-success btn-s" (click)="showAddModal()">
     Chọn Phụ Huynh
</button> 


<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm/Sửa người dùng</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
          *ngIf="entity">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ tên</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #name="ngModel" [(ngModel)]="entity.FullName" required minlength="3" name="name" class="form-control">
              <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tài khoản</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #username="ngModel" [(ngModel)]="entity.UserName" required name="username" class="form-control">
              <small [hidden]="username.valid || (username.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập tài khoản
              </small>
            </div>
          </div>
          <div class="form-group" *ngIf="!entity.Id">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mật khẩu</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" #password="ngModel" [(ngModel)]="entity.Password" required minlength="6" name="password" class="form-control">
              <small [hidden]="password.valid || (password.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập tên ít nhất 6 ký tự
              </small>
            </div>
          </div>
          <div class="form-group" *ngIf="!entity.Id">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Xác nhận mật khẩu</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" #confirmpassword="ngModel" [(ngModel)]="entity.ConfirmPassword" required validateEqual="password"
                minlength="6" name="confirmpassword" class="form-control">
              <small [hidden]="confirmpassword.valid || (confirmpassword.pristine && !addEditForm.submitted)" class="text-danger">
                Xác nhận mật khẩu sai
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="entity.Email" required
                name="email" class="form-control">
              <small [hidden]="email.valid || (email.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập email
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Địa chỉ</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #address="ngModel" [(ngModel)]="entity.Address" name="address" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Điện thoại</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #phonenumber="ngModel" [(ngModel)]="entity.PhoneNumber" required name="phonenumber" class="form-control">
              <small [hidden]="phonenumber.valid || (phonenumber.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập số điện thoại
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Avatar</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="file" #avatar name="avatar" class="form-control">
              <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
              <input type="hidden" [(ngModel)]="entity.Avatar" name="avatarUrl" />
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="entity.Avatar">
              <img [src]="entity.Avatar" width="128" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ngày sinh</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #birthday="ngModel" daterangepicker [options]="dateOptions" [(ngModel)]="entity.BirthDay" name="birthday"
                class="form-control">
            </div>
          </div>
           <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Giới tính</label>
            <div class="col-md-6 col-sm-6 col-xs-12">

              <input type="radio" (change)="selectGender($event)" #gender="ngModel" [checked]="entity.Gender=='True'" name="gender" [ngModel]="entity.Gender" value="True" required />              Nam

              <input type="radio" (change)="selectGender($event)"  #gender="ngModel" [checked]="entity.Gender=='False'" name="gender" [ngModel]="entity.Gender" value="False" />              Nữ

            </div>
          </div>
        
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Hủy bỏ</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Cập nhật</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
