<!-- <div class="container main-section" style="margin-top:20px">    
	<div class="row">
		<div class="col-md-12 text-center user-login-header">
			<h1>ĐĂNG NHẬP</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 user-image-section">
					<img src="https://image.flaticon.com/icons/png/512/306/306473.png">
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
                    <form class="login-form">
						<pre>
                            <label>Tên người dùng</label>
                            <input type="text" class="form-control" #email placeholder="Tên người dùng...">

                            <label>Mật khẩu</label>
							<input type="password" class="form-control" #password placeholder="Mật khẩu...">
							
							<button class="btn btn-danger btn-block btn-round" (click)="signInByEmailAndPassword(email.value, password.value)">Đăng nhập</button>
						</pre>
					</form>
				</div> -->
				<!-- <button class= "btn btn-danger" (click)="signInWithGoogle()">test</button> -->
				<!-- <div class="col-md-12 col-sm-12 col-xs-12 last-part">
					<p>Quên mật khẩu?<a href="#"> Đăng kí tài khoản mới</a></p>
				</div>
			</div>
		</div>
	</div>
</div> -->
<body>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
	<div class="row">
	  <div class="col s8 offset-s2">
		<div class="card grey lighten-2">
		  <div class="card-tabs">
			<ul class="tabs tabs-fixed-width tabs-transparent">
			  <li class="tab">
				<a routerLink='/login' routerLinkActive='active'>Sign In</a>
			  </li>
			</ul>
		  </div>
		  <div class="card-content white">
			<div class="row">
			  <router-outlet></router-outlet>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	</div>
	</body>